<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">Color Your Night</ion-title>
    <!--music title-->
    
  </ion-toolbar>
</ion-header>

<ion-content class="lyrics-content">
  <video autoplay muted loop id="video-bg">
    <source src="assets/p3train.mp4" type="video/mp4"><!--music background-->
  </video>


  <ion-card class="lyrics-card"> <!--music lyrics-->
    <ion-card-content>
      <div class="lyrics">
        <p>[Verse: Lotus Juice]<br>
          Time to shine, down to ride
          Drive till break of dawn, wilding out
          Grinding out on a mission
          Riding out till I meet you
          <br>
          [Chorus: Azumi Takahashi]<br>
          Wander in the night, paint the view
          Colour the town with my light
          Every moment shared with you
          <br>
          [Post-Chorus: Lotus Juice]<br>
          For all days ahead, hands up
          Wave for good luck
          For nights like this, hands up
          Love the moment from dusk
          <br>
          [Bridge: Lotus Juice]<br>
          Two hands meet at zenith
          Dancing under moonlight
          Scenes painted vividly by you
          Just want to stay with you
          <br>
          [Chorus: Azumi Takahashi]<br>
          Around the world, slowly dance
          Eyes meet, in a trance
          Means everything to me
          <br>
          [Post-Chorus: Lotus Juice]<br>
          Watching over me, feel invincible
          At ease with things, your existence lights me up
          <br>
          [Chorus: Azumi Takahashi]<br>
          In the inner heart I plead
          Talk to me, good and bad
          Drifting across the sky, hour hand turns high
          Goodnight, sing a lullaby</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>