<ion-header>
<ion-toolbar color="primary">
<ion-buttons slot="start">
<ion-menu-button color="dark"></ion-menu-button>
</ion-buttons>
<ion-title color="light">A SMILE IN YOUR HEART</ion-title>
<p>by Ariel Rivera</p>
</ion-toolbar>
</ion-header>

<ion-content class="lyrics-content">
<ion-card class="lyrics-card">
<ion-card-content>
<div class="lyrics">
  <h3>Verse 1</h3>
        <p>I had a feeling that you're holding my heart<br>
          And I know that it is true<br>
          You wouldn't let it be broken apart<br>
          'Cause it's much too dear to you<br></p>

          <h3>Verse 2</h3>
        <p>Forever we'll be together<br>
          No one can break us apart<br>
          For our love will truly be<br>
          A wonderful smile in your heart</p>

        <h3>Verse 3</h3>
        <p>When the night comes<br>
          And I'm deep in your arms<br>
          How I feel so much more secure<br>
          You wouldn't let me close my eyes<br>
          So I can see you through and through<br></p>

        <h3>VERSE 4</h3>
        <p>You're a sweet tender lover<br>
          We are so much in love<br>
          I'm not afraid when you're far away<br>
          Just give me a smile in your heart</p>
          
        <h3>CHORUS</h3>
        <p>You brighten my day<br>
          Showing me my direction<br>
          You're coming to me<br>
          And giving me inspiration<br>
          How can I ask for more<br>
          From you, my dear?<br>
          Maybe just a smile in your heart</p>

          <h3>VERSE 5</h3>
          <p>I'm always dreamin' of being in love<br>
            But now I know that this is true<br>
            Since you came into my life<br>
            It's true love that I had found</p>

            <h3>VERSE 6</h3>
            <p>I pray that you wouldn't leave me<br>
              Whatever may come along<br>
              But if you do I won't feel so bad<br>
              Just give me a smile in your heart</p>

              <h3>CHORUS</h3>
        <p>You brighten my day<br>
          Showing me my direction<br>
          You're coming to me<br>
          And giving me inspiration<br>
          How can I ask for more<br>
          From you, my dear?<br>
          Maybe just a smile in your<br>
          Maybe just a smile in your heart</p>

          <h3>CHORUS</h3>
        <p>You brighten my day<br>
          Showing me my direction<br>
          You're coming to me<br>
          And giving me inspiration<br>
          How can I ask for more<br>
          From you, my dear?<br>
          Maybe just a smile in your heart<br>
        Give me a smile in your heart</p>


        <!-- Add more verses, choruses, or bridges as needed -->

      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

